<header class="flex w-full justify-between">
  <p class="w-8/12 text-4xl font-bold">Manufaktura koda</p>

  <nav class="flex w-4/12 justify-end">
    <ul class="flex gap-x-4">
      <li><a href="<%= relative_url '/' %>">Home</a></li>
      <li><a href="<%= relative_url '/about' %>">About</a></li>
      <li><a href="<%= relative_url '/posts' %>">Posts</a></li>
    </ul>
  </nav>
</header>
